# macOS
.DS_Store

# VS Code
.vscode/

# Sistema
Thumbs.db
desktop.ini

# Archivos temporales
*.log
*.tmp
*.bak

# Archivos de Live Server (si llegaran a aparecer)
.liveserver*

# Future tools
node_modules/
dist/
build/
.env
.idea/

# Archivos generados por Figma plugins (opcional)
*.json