:root {

  /* === Primitive Color Tokens === */
    
    /* === Blue === */
      --blue-50: #F6F8FB;
      --blue-100: #D8DEE6;
      --blue-200: #BFC8D5;
      --blue-300: #9FADC0;
      --blue-400: #7E91AA;
      --blue-500: #5E7695;
      --blue-600: #3E5A80;
      --blue-700: #344B6B;
      --blue-800: #293C55;
      --blue-900: #1F2D40;
      --blue-950: #151E2B;
    
    /* === Yellow === */
      --yellow-50: #FFF8E6;
      --yellow-100: #FFF2CF;
      --yellow-200: #FFE9AF;
      --yellow-300: #FFDE88;
      --yellow-400: #FFD360;
      --yellow-500: #FFC838;
      --yellow-600: #FFBD10;
      --yellow-700: #D59E0D;
      --yellow-800: #AA7E0B;
      --yellow-900: #805F08;
      --yellow-950: #553F05;

    /* === Red === */
      --red-50: #FEF2F2;
      --red-100: #FBD4D5;
      --red-200: #F8B8B9;
      --red-300: #FF98A5;
      --red-400: #F17174;
      --red-500: #EE4E51;
      --red-600: #EA2A2E;
      --red-700: #C32326;
      --red-800: #9C1C1F;
      --red-900: #751517;
      --red-950: #4E0E0F;

    /* === Green === */
      --green-50: #FDFEFD;
      --green-100: #E9F1E5;
      --green-200: #DAE7D4;
      --green-300: #C7DBBE;
      --green-400: #B4CFA8;
      --green-500: #A2C393;
      --green-600: #8FB77D;
      --green-700: #779968;
      --green-800: #5F7A53;
      --green-900: #485C3F;
      --green-950: #1D2519;


    /* === Orange === */
      --orange-50:  #FFFCF9;
      --orange-100: #FFF4D3;
      --orange-200: #FFE5A5;
      --orange-300: #FFD16D;
      --orange-400: #FFB132;
      --orange-500: #FF980A;
      --orange-600: #FC7E00;
      --orange-700: #CC5D02;
      --orange-800: #A1480B;
      --orange-900: #823D0C;
      --orange-950: #461C04;

    /* === Gray === */

      --gray-50:   #F6F6F6;
      --gray-100:  #E7E7E7;
      --gray-200:  #D1D1D1;
      --gray-300:  #B0B0B0;
      --gray-400:  #888888;
      --gray-500:  #6D6D6D;
      --gray-600:  #5D5D5D;
      --gray-700:  #4F4F4F;
      --gray-800:  #454545;
      --gray-900:  #3C3C3C;
      --gray-950:  #262626;

    /* === Black & White === */
      --black-950: #000000;
      --white-950: #FFFFFF;
}
      

