############################
# OS
############################
.DS_Store

############################
# Strapi
############################
.env
license.txt
exports
.strapi
dist
build
.strapi-updater.json
.strapi-cloud.json

############################
# Database
############################
.tmp/
*.db

############################
# Dependencies
############################
node_modules/

############################
# Uploads de Strapi (producción)
# Los archivos subidos viven aquí. En Railway debe existir un volumen en este path.
############################
public/uploads/*
!public/uploads/.gitkeep
